<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>

<h1>Hi there!</h1>
<p>Dennis Lubrin here. Thank you for visiting my little corner of the Internet. Here, you can find the projects I'm working on, my blog, and more.</p>
<p>Click here for my current website: <%= link_to "http://dennislubrin.com/", "http://dennislubrin.com" %></p>
