<div class="jumbotron">
    <h1>Hi there!</h1>
    <p>Thank you for visiting my little corner of the Internet. Here, you can find the projects I'm working on, my blog, and more.</p>
    <p>Click here for my current website: <%= link_to "http://dennislubrin.com/", "http://dennislubrin.com", class: "btn btn-primary btn-lg" %></p>
</div>